@import '~bootstrap/scss/bootstrap';

// --------- Colors --------- //
$black: #fff;


// --------- Buttons --------- //

.auth-button {
  margin-left: 10px;
}

.back-button {
  margin-left: 10px;
}

// --------- Text --------- //

.coll-index-title {
  font-size: 37px;
}

// --------- Home --------- //
