@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap';

// --------- Colors --------- //

$link: #1c448e;
$link-hover: #183977;
$white: #fff;
$white-header: rgba(244, 244, 248, .7);
$coll-div: rgba(244, 244, 248, .5);
$dark-blue: #032b43;
$dark-gray: #1f1f1f;
$background: #8a9ca8;
$yellow: #F4B860;
$orange: #FAC05E;
$black: #000;

// --------- Background --------- //

html, #root {
  background-color: $background;
  background-image: url('https://www.transparenttextures.com/patterns/diamond-upholstery.png');
}

* {
  font-family: 'Suez One', serif;
}

hr {
  background-color: $black;
  height: 2px;
}

// --------- Navbar --------- //

.navbar {
  background-color: $white-header;
  margin-bottom: 2rem;
}

.navbar-brand {
  font-family: 'Suez One', serif;
  font-size: 30px;
}

// --------- Buttons --------- //

.auth-button {
  margin-left: 10px;
}

.back-button {
  margin-left: 10px;
}

.show-col-edit {
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-show-delete {
  margin-left: 10px;
  margin-right: 10px;
}

.col-edit-back {
  margin-left: 10px;
}

// --------- Text --------- //

.coll-index-title {
  color: $link;
  font-size: 37px;

  &:hover {
    color: $link-hover;
  }
}

// --------- Home --------- //

.home-div {
  margin: 0 20px;
  margin-top: 7%;
  text-align: center;
}

.home-h3 {
  padding: 0 20px;
  padding-bottom: 2rem;
}

// --------- About --------- //

.about-heading {
  color: $dark-gray;
  text-decoration: underline;
}

.about-gs-div {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-link {
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

// --------- Collection Index --------- //

.index-col-div {
  background-color: $coll-div;
  border: 1px solid $background;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
}

// --------- Collection Edit --------- //

.col-edit-div {
  background-color: $coll-div;
  border: 1px solid $background;
  border-radius: 5px;
  padding: 20px;
}

// --------- Collection Create --------- //

.col-create-div {
  background-color: $coll-div;
  border: 1px solid $background;
  border-radius: 5px;
  padding: 20px;
}

// --------- Card Show --------- //]

.card-show-div {
  background-color: $coll-div;
  border: 1px solid $background;
  border-radius: 5px;
  padding: 20px;
}

// --------- Collection Show --------- //

.show-col-div {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.flip-card {
  background-color: transparent;
  border: 2px solid $dark-gray;
  border-radius: 5px;
  height: 260px;
  margin-left: 20%;
  margin-top: 2rem;
  perspective: 1000px;
  width: 500px;
}

.flip-card-inner {
  height: 100%;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform .8s;
  width: 100%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  width: 100%;
}

.flip-card-front {
  background-color: $white;
  color: $black;
  padding-top: 15%;
}

.flip-card-back {
  background-color: $white;
  color: $black;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  transform: rotateY(180deg);
}
