@import '~bootstrap/scss/bootstrap';

// --------- Colors --------- //
$gray: #808080;


// --------- Buttons --------- //

.auth-button {
  margin-left: 10px;
}

.back-button {
  margin-left: 10px;
}

// --------- Text --------- //

.coll-index-title {
  font-size: 37px;
}

// --------- Home --------- //

// --------- Show Page --------- //

.show-col-div {
  border: 1px solid $gray;
  border-radius: 5px;
  padding-left: 1rem;g
}
